---
import { Book, Page, and, db, eq } from 'astro:db';

export async function getStaticPaths() {
  const books = await db
    .select({
      abbreviation: Book.abbreviation,
      year: Book.year,
    })
    .from(Book);

  return books.map(book => ({
    params: {
      bookAbbreviation: book.abbreviation,
      year: book.year
    }
  }))
}

const { bookAbbreviation, year } = Astro.params;

const [book] = await db.select({
  id: Book.id,
  name: Book.name,
  year: Book.year,
}).from(Book).where(and(eq(Book.abbreviation, bookAbbreviation), eq(Book.year, year)));

const pages = await db
  .select()
  .from(Page)
  .where(eq(Page.bookId, book.id))
---

<h1>{book.name} {book.year}</h1>

<ul>
  {pages.map(page => (
    <li>{page.page} {page.tuneName}</li>
  ))}
</ul>

