---
import { Book, db, eq } from 'astro:db';
import Layout from '../layouts/Layout.astro';

const books = await db
  .select({
    name: Book.name,
    year: Book.year,
  })
  .from(Book);
---

<Layout>
  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {books.map(book => (
        <tr>
          <td>{book.name}</td>
          <td>{book.year}</td>
        </tr>
      ))}
    </tbody>
  </table>
</Layout>
