---
import { Book, db, desc } from 'astro:db';
import Layout from '../layouts/Layout.astro';

const books = await db
  .select({
    name: Book.name,
    year: Book.year,
    slug: Book.slug,
  })
  .from(Book)
  .orderBy(desc(Book.year));
---

<Layout>
  <h1>Index of Recordings from Shape Note Tune Books</h1>
  <ul>
    {books.map(book => (
      <li><a href={`/${book.slug}`}>{book.name} ({book.year})</a></li>
    ))}
  </ul>
</Layout>
