---
import Layout from "../layouts/Layout.astro";
import YouTubeEmbed from "../components/embeds/YouTubeEmbed.astro";
import fs from "node:fs";
import path from "node:path";
import ArchiveLink from "../components/embeds/ArchiveLink.astro";
import { type PendingRecording } from '../../scripts/archive-parsing'

var jsons: PendingRecording[][] = [];

const recordingsDir = path.join(process.cwd(), "db/data/recordings");

const files = fs
  .readdirSync(recordingsDir)
  .filter((f) => {
    return f.endsWith(".json") && f.includes("-pending");
  });

files.map((fileName) => {
  const content = fs.readFileSync(
    path.join(recordingsDir, fileName),
    "utf-8",
  );
  const recordings = JSON.parse(content);
  jsons.push(recordings);
});

---
<Layout title="Pending Recordings">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Pending Recordings</li>
  </ul>

  <h1>Pending Recordings</h1>

  <button>Show only known problems</button>

  <div id="recordings">
    {jsons.map((recordings) => {
      return recordings.map((recording, i) => {
        if (recording.status === "CONFIRMED") return

        const isYouTube = recording.embedUrl?.includes("youtube.com");
        const isArchive = recording.embedUrl?.includes("archive.org");

        const hasError = recording.status !== "PENDING"

        return (
          <div class={`recording ${hasError ? 'has-error' : 'seems-ok'}`}>
            {recording.status === "MISSING_DATA" && (
              <div class="error">MISSING DATA:</div>
            )}
            {recording.status === "DUPLICATE" && (
              <div class="error">DUPLICATE:</div>
            )}
            {recording.status === "PAGE_NUMBER_PROBLEM" && (
              <div class="error">PAGE NUMBER NOT IN BOOK:</div>
            )}
            <pre>{JSON.stringify(recording, null, 2)}</pre>

            {isArchive && (
              <ArchiveLink href={recording.embedUrl || ""} />
            )}
            {isArchive && (
              <a href={recording.url} target="_blank">Page</a>
            )}
            {isYouTube && (
              <YouTubeEmbed src={recording.embedUrl || ""} />
            )}
          </div>
        )
      })
    })}
  </div>
</Layout>

<script>
  const recordingsList = document.getElementById('recordings');
  const button = document.getElementsByTagName('button')[0];

  button.addEventListener('click', () => {
    recordingsList?.classList.toggle('hide-ok');
    if (button.innerText === 'Show only known problems') {
      button.innerText = 'Show all pending'
    } else {
      button.innerText = 'Show only known problems'
    }
  })

</script>

<style>
  .error {
    background-color: pink;
    color: darkred;
  }
  .recording {
    padding-bottom: 4rem;
  }
  .hide-ok {
    .seems-ok {
      display: none;
    }
  }
</style>
