---
import Layout from "../layouts/Layout.astro";
import fs from "node:fs";
import path from "node:path";
import { type PendingLesson } from '../data-collection-scripts/utils'
import RecordingLink from "../components/embeds/RecordingLink.astro";
import type { Recording } from "astro:db";
import type { Lesson } from "astro:db";

type RecordingSelect = typeof Recording.$inferSelect;

var jsons: PendingLesson[][] = [];

const lessonsDir = path.join(process.cwd(), "db/data/lessons");

const files = fs
  .readdirSync(lessonsDir)
  .filter((f) => {
    return f.endsWith(".json") && f.includes("-pending");
  });

files.map((fileName) => {
  const content = fs.readFileSync(
    path.join(lessonsDir, fileName),
    "utf-8",
  );
  const lessons = JSON.parse(content);
  jsons.push(lessons);
});

const recordings = JSON.parse(fs.readFileSync(path.join(process.cwd(), "db/data/recordings.json"), 'utf-8'));

const getRecordingForLesson = (lesson: PendingLesson): RecordingSelect => {
  return recordings.find((recording: RecordingSelect) => recording.id === lesson.recordingId)
}

---
<Layout title="Pending Recordings">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Pending Recordings</li>
  </ul>

  <h1>Pending Recordings</h1>

  {jsons.length === 0 && (
    <div class="empty">No pending recordings<br /><a href="./pull-data">Pull more data</a></div>
  )}

  <div>
    <button id="toggle">Show only known problems</button>
  </div>

  <div id="lessons">
    {jsons.map((lessons) => {
      return lessons.map((lesson, i) => {
        if (lesson.status === "CONFIRMED") return

        const isArchive = lesson.url?.includes("archive.org");

        const hasError = lesson.status !== "PENDING"

        return (
          <div class={`lesson ${hasError ? 'has-error' : 'seems-ok'}`}>
            {lesson.status === "MISSING_DATA" && (
              <div class="error">MISSING DATA:</div>
            )}
            {lesson.status === "DUPLICATE" && (
              <div class="error">DUPLICATE:</div>
            )}
            {lesson.status === "PAGE_NUMBER_PROBLEM" && (
              <div class="error">PAGE NUMBER NOT IN BOOK:</div>
            )}
            <pre>{JSON.stringify(lesson, null, 2)}</pre>

            <RecordingLink href={lesson.url || ""} />
            <a href={getRecordingForLesson(lesson).url} target="_blank">Page</a>
          </div>
        )
      })
    })}
  </div>
</Layout>

<script define:vars={{ jsons }}>
  const lessonsList = document.getElementById('lessons');
  const toggleButton = document.getElementById('toggle');

  toggleButton.addEventListener('click', () => {
    lessonsList?.classList.toggle('hide-ok');
    if (toggleButton.innerText === 'Show only known problems') {
      toggleButton.innerText = 'Show all pending'
    } else {
      toggleButton.innerText = 'Show only known problems'
    }
  })

  if (jsons.length === 0) {
    toggleButton.disabled = true;
  }
</script>

<style>
  .error {
    background-color: pink;
    color: darkred;
  }
  .recording {
    padding-bottom: 4rem;
  }
  .hide-ok {
    .seems-ok {
      display: none;
    }
  }
  #toggle {
    margin-bottom: 1rem;
  }

  .empty {
    padding-bottom: 1rem;
  }
</style>
