---
import Layout from "../layouts/Layout.astro";
import ArchiveLink from "../components/embeds/ArchiveLink.astro";
import YouTubeEmbed from "../components/embeds/YouTubeEmbed.astro";
import fs from "node:fs";
import path from "node:path";
import { type PendingRecording } from '../data-collection-scripts/archive-parsing'
// import { pullOneArchiveItem } from '../data-collection-scripts/archive-parsing'
// import { pullOneBandcampItem } from "../data-collection-scripts/bandcamp-parsing";
// import { pullOneYoutubeItem } from "../data-collection-scripts/youtube-parsing";
// import { pullNewData } from "../data-collection-scripts/pull-all-data";

var jsons: PendingRecording[][] = [];

const recordingsDir = path.join(process.cwd(), "db/data/recordings");

const files = fs
  .readdirSync(recordingsDir)
  .filter((f) => {
    return f.endsWith(".json") && f.includes("-pending");
  });

files.map((fileName) => {
  const content = fs.readFileSync(
    path.join(recordingsDir, fileName),
    "utf-8",
  );
  const recordings = JSON.parse(content);
  jsons.push(recordings);
});

// pullNewData();
// pullOneArchiveItem('posh2022-10-16.PNWC-OC.mosquito.flac24')
// pullOneBandcampItem('corksacredharp', 'black-book-monday', 'ch-2010', '2019-03-04')
// pullOneBandcampItem('richmondshapenotesingers', 'shenandoah-harmony-sessions-from-the-james-river-sacred-harp-convention-2013', 'shh-2013', '2013-11-09', true)
// pullOneYoutubeItem('QzzT_8FgpN4', 'cb-2012', '2025-03-15')

---
<Layout title="Pending Recordings">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Pending Recordings</li>
  </ul>

  <h1>Pending Recordings</h1>

  {jsons.length === 0 && (
    <div>No pending recordings</div>
  )}

  <div>
    <button id="toggle">Show only known problems</button>
  </div>

  <div id="recordings">
    {jsons.map((recordings) => {
      return recordings.map((recording, i) => {
        if (recording.status === "CONFIRMED") return

        const isYouTube = recording.embedUrl?.includes("youtube.com");
        const isArchive = recording.embedUrl?.includes("archive.org");

        const hasError = recording.status !== "PENDING"

        return (
          <div class={`recording ${hasError ? 'has-error' : 'seems-ok'}`}>
            {recording.status === "MISSING_DATA" && (
              <div class="error">MISSING DATA:</div>
            )}
            {recording.status === "DUPLICATE" && (
              <div class="error">DUPLICATE:</div>
            )}
            {recording.status === "PAGE_NUMBER_PROBLEM" && (
              <div class="error">PAGE NUMBER NOT IN BOOK:</div>
            )}
            <pre>{JSON.stringify(recording, null, 2)}</pre>

            {isArchive && (
              <ArchiveLink href={recording.embedUrl || ""} />
            )}
            {isArchive && (
              <a href={recording.url} target="_blank">Page</a>
            )}
            {isYouTube && (
              <YouTubeEmbed src={recording.embedUrl || ""} />
            )}
          </div>
        )
      })
    })}
  </div>
</Layout>

<script define:vars={{ jsons }}>
  const recordingsList = document.getElementById('recordings');
  const toggleButton = document.getElementById('toggle');

  toggleButton.addEventListener('click', () => {
    recordingsList?.classList.toggle('hide-ok');
    if (toggleButton.innerText === 'Show only known problems') {
      toggleButton.innerText = 'Show all pending'
    } else {
      toggleButton.innerText = 'Show only known problems'
    }
  })

  if (jsons.length === 0) {
    toggleButton.disabled = true;
  }
</script>

<style>
  .error {
    background-color: pink;
    color: darkred;
  }
  .recording {
    padding-bottom: 4rem;
  }
  .hide-ok {
    .seems-ok {
      display: none;
    }
  }
  #toggle {
    margin-bottom: 1rem;
  }
</style>
