---
import { Book, Lesson, Page, Recording, and, db, desc, eq, gte, sql } from 'astro:db';
import Layout from '../layouts/Layout.astro';
import LessonsList from '../components/embeds/LessonsList.astro';

const NUMBER_OF_DAYS = 1;
const daysFilter = `-${NUMBER_OF_DAYS} days`

const lessons = await db
  .select({
    singing: Recording.singing,
    date: Recording.date,
    recordist: Recording.recordist,
    page: Lesson.page,
    bookSlug: Lesson.bookSlug,
    url: Lesson.url,
    embedUrl: Lesson.embedUrl,
    createdAt: Recording.createdAt,
    tuneName: Page.tuneName,
    bookName: Book.name,
    bookYear: Book.year
  })
  .from(Lesson)
  .innerJoin(Book, and(eq(Book.slug, Lesson.bookSlug)))
  .innerJoin(Page, and(eq(Page.page, Lesson.page), eq(Page.bookSlug, Lesson.bookSlug)))
  .innerJoin(Recording, eq(Recording.id, Lesson.recordingId))
  .orderBy(desc(Recording.createdAt))
  .where(gte(Recording.createdAt, sql`datetime('now', ${daysFilter})`))
---

<Layout>
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Recent additions</li>
  </ul>

  <h1>Recent Additions</h1>

  {lessons.length === 0 && (
    <p>No recordings added in the last {NUMBER_OF_DAYS} {NUMBER_OF_DAYS == 1 ? 'day' : 'days'}</p>
  )}

  <LessonsList lessons={lessons} shouldIncludePage />
</Layout>
